@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
$white: #ffffff;
$lightGray: #bababa;
$mediumGray: #8d8d8d;
$darkGray: #3a3a3a;
$primaryColorLight: #a6cbeb;
$primaryColor: #4c96d7;

$borderRadius: 10px;

$headerFontFamily: sans-serif;
$bodyFontFamily: 'Share Tech Mono', monospace;
$accentFontFamily: cursive;
